# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Binaries
*.exe
*.out
*.dll
*.so
*.dylib
brockchain
brockchain-client

# Go
bin/

# TypeScript / Node
node_modules/
client/ts/lib/

# Runtime data
server/data/

# TLS local files
server/certs/
*.pem
*.key
*.crt
